*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;    
}
body{
    background-color: #40128b;
}
.head{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 20%;
    left: 50%; 
}
.head h1{
    color: #fff;
    font-size: 45px;
}
.head h1 span{
    /* color: #1b1312; */
    font-size: 55px;
}
.container{
    width: 450px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; 
}
.container *{
    border: none;
}
.input-section{
    background-color: #fff;
    padding: 25px 17px ;
    border-radius:10px ;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.date-inp{
    width: 70%;
    font-weight: 500;
    font-size: 14px;
    border-radius: 5px;
    padding: 17px;
    background-color: #eff1fc;
    transition: background-color 0.3s;
    color: #080808;
}
.date-inp:hover{
    background-color: #d9def7;
}
.btn{
    padding: 17px 10px;
    border-radius: 5px;
    background-color: #6527be;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}
.btn:hover{
    background-color: #40128b;
}
.date-wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.date-wrapper .box{
    width: 93px;
    height: 90px;
    border-radius: 10px;
    background-color: #fff;
    color: #080808;
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-wrapper .box .output-date{
    text-align: center;
}
.date-wrapper .box .output-date span{
    font-size: 28px;
    font-weight: 500;
}
.date-wrapper .box .output-date p{
    font-size: 13px;
    font-weight: 400;
    color: #707070;
}
.alert-box{
    background-color: #fff;
    min-width: 350px;
    padding: 17px 20px;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    transform: translate(-50%,-50%);
    top: -10%;
    left: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: top 0.3s ease-in-out;; 
}
.alert-box i{
    padding-right: 7px;
    color: #ff0000;
    font-size: 25px;
}
@media screen and (max-width: 767px) {
    .container {
        width: 390px; /* Set container width to 350px for small phones */
    }
    .btn{
        padding: 17px 3px;
    }
}